# How to clean data?
**Submitted by Yamini Manral 002708331**

### Why cleaning data is important?
Data cleaning is crucial in the realm of data analysis and decision-making because it directly impacts the reliability and accuracy of the insights derived from data. It is a critical step in ensuring that data is trustworthy, consistent, and free from errors or impurities. Data cleaning is interesting because it involves detective work, problem-solving, and creative thinking. It requires identifying and addressing a wide range of data quality issues, from missing values and outliers to inconsistent formatting and duplicates. By successfully cleaning and preparing data, analysts and data scientists can unlock the true potential of their datasets, leading to more reliable conclusions and informed decision-making. Ultimately, data cleaning is the foundation upon which data-driven insights and innovations are built, making it a fascinating and indispensable aspect of the data science journey.

### The Fascination of Data Cleaning

Data cleaning, though often perceived as a preliminary and mundane task in the data science journey, holds a unique and captivating allure. Here are some reasons why data cleaning is not just important but also interesting:

1. **Data's Imperfections:** Real-world data is rarely pristine. It's a reflection of the messy, unpredictable nature of human activities. Exploring and uncovering the quirks and imperfections in data is like solving a puzzle.

2. **Data Detective Work:** Data cleaning requires a detective's mindset. You'll investigate missing values, outliers, inconsistencies, and unexpected patterns. It's akin to solving mysteries within the data.

3. **Creativity in Problem-Solving:** Finding innovative ways to address data quality issues is both challenging and creatively fulfilling. You may need to craft custom solutions for unique problems.

4. **Impact on Insights:** The quality of your data profoundly impacts the insights you can derive. Data cleaning directly contributes to the reliability and trustworthiness of your findings.

5. **Multidisciplinary Nature:** Data cleaning draws from diverse fields, including statistics, programming, linguistics (for text data), and domain expertise. It's an interdisciplinary playground.

6. **Continuous Learning:** As technology evolves, so do data cleaning techniques. Staying updated with the latest methods and tools keeps the process engaging.

7. **Data Ethics and Bias:** Exploring data cleaning means confronting ethical questions about data representation and bias mitigation. It's an avenue for discussions about responsible data handling.

8. **Data Transformation:** Data cleaning often leads to data transformation and feature engineering. You'll convert raw data into meaningful variables for analysis, a creative process in itself.

9. **Automation Potential:** While data cleaning can be manual, automation and AI-driven tools are emerging. Building and fine-tuning these tools adds a layer of excitement.

10. **Foundation for Insights:** Data cleaning is the bedrock upon which data-driven insights and machine learning models are built. It's the starting point of any data science adventure.

In summary, data cleaning isn't merely a mundane choreâ€”it's an exploration of data's intricacies, a creative problem-solving exercise, and a critical step in the journey to extract valuable insights. It's where the magic begins in the fascinating world of data science.

### Data Cleaning Techniques

Data cleaning is an essential step in preparing data for analysis or machine learning. Here are some common data cleaning techniques:

1. **Handling Missing Values:**
   - Imputation: Fill missing values using mean, median, mode, or advanced methods.
   - Deletion: Remove rows or columns with a significant number of missing values.

2. **Dealing with Duplicates:**
   - Detect and remove duplicate rows to avoid redundancy.
   - Handle duplicate data based on business rules if needed.

3. **Outlier Detection and Treatment:**
   - Identify and handle outliers using methods like Z-score, IQR, or winsorization.
   - Decide whether to cap, transform, or remove outliers based on domain knowledge.

4. **Standardizing Data:**
   - Standardize units and formats in columns (e.g., converting all dates to a consistent format).
   - Normalize data to have zero mean and unit variance for machine learning.

5. **Converting Data Types:**
   - Ensure data types are appropriate for analysis (e.g., converting categorical variables to numerical using one-hot encoding).
   - Parse dates and times into datetime objects for time series analysis.

6. **Handling Inconsistent Data:**
   - Resolve inconsistencies in data entry (e.g., capitalization, spelling errors) using string manipulation or fuzzy matching.
   - Merge categories with similar meanings in categorical data.

7. **Encoding Categorical Data:**
   - Convert categorical variables into numerical representations using techniques like label encoding or one-hot encoding.

8. **Text Data Cleaning:**
   - Remove special characters, punctuation, and whitespace from text data.
   - Tokenize, lemmatize, or stem text for natural language processing (NLP).

9. **Handling Data Integrity Issues:**
   - Check for data integrity problems, such as referential integrity violations.
   - Correct data inconsistencies in related tables or datasets.

10. **Handling Data Scale and Skewness:**
    - Apply scaling techniques like Min-Max scaling or Z-score scaling to address varying data scales.
    - Log-transform data with skewed distributions to make them more normally distributed.

11. **Data Validation and Cross-Checking:**
    - Cross-check data with external sources or domain-specific rules to validate its accuracy.
    - Perform sanity checks and verify data against known benchmarks.

12. **Data Imputation for Time Series:**
    - Impute missing values in time series data using methods like linear interpolation or forward/backward filling.

13. **Data Sampling and Resampling:**
    - Create balanced datasets by oversampling or undersampling when dealing with imbalanced classes.
    - Resample time series data for different time granularities.

14. **Data Transformation:**
    - Perform feature engineering to create new meaningful features from existing ones.
    - Aggregate or pivot data to create summary statistics or pivot tables.

15. **Data Cleaning Automation:**
    - Develop automated scripts or pipelines for routine data cleaning tasks to ensure consistency.

Remember that the choice of data cleaning techniques depends on the specific characteristics of your dataset and the goals of your analysis or machine learning project. It often involves a combination of these techniques to prepare data for meaningful insights and modeling.

We use pandas and Numpy for performing data cleaning activities. We begin with importing Pandas library and using `read_excel()` function to read data from our desired excel sheet.

We have an excel sheet with employee details in it. We need to clean this data to make it consistent and usable.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel(r'employees.xlsx')
df

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,City,Education,Experience (Years),Score
0,Alice,Joel..,25.0,F,"$55,000",alice@email.com,123-456-7890,"New York, NY",Bachelor,3.5,85
1,Bob,Pederna,30.0,M,"$63,200",bob@email.com,555-555-5555,"Los Angeles, CA",Master,7.0,92
2,Charlie,Puth,22.0,M,"$58,900",charlie@email.com,444-333-2222,"Chicago, IL",Ph.D.,NaN,78
3,David,\Guetta,NaN,M,"$75,000",david@email.com,123-543-2345,"Houston, TX",Bachelor,2.0,110
4,Eva,Longoria,29.0,F,"$62,400",eva@email.com,666-777-8888,"Miami, FL",NaN,5.0,89
5,Frank,Sinatra,35.0,m,67000,frank@email.com,777-888-9999,"San Francisco, CA",Master,10.0,97
6,Grace,..Brace,42.0,F,"$48,500",grace@email.com,555-444-3333,NaN,Ph.D.,8.0,93
7,Helen,Keller,50.0,F,$NaN,helen@email.com,NaN,"Boston, MA",Master,20.0,120
8,Ivy,Taylor,26.0,F,"$53,200",ivy@email.com,999|888|7777,"Dallas, TX",Bachelor,4.0,88
9,Jack,Jill,40.0,M,"$69,800",jack@email.com,111-222-3333,"Phoenix, AZ",Ph.D.,12.0,98
10,Kurt,Cobain,33.0,M,"$72,500",kurt@email.com,123-456-7890,"San Diego, CA",Bachelor,6.0,84
11,Linda,_Chocolate,28.0,f,$NaN,linda@email.com,555-555-5555,"Seattle, WA",Master,9.0,95
12,Mike,Piastry,45.0,M,62000,mike@EMAIL.com,444-333-2222,"Austin, TX",Ph.D.,15.0,75
13,Nancy__,Drew,24.0,F,"$55,800",nancy@email.com,123-543-2345,"Denver, CO",Bachelor,1.0,130
14,Oliver,Twist,32.0,M,72000,oliver@email.com,666-777-8888,"Nashville, TN",NaN,11.0,91
15,Paul,McCarthy,NaN,M,78000,paul@email.com,777-888-9999,Miami. FL,Master,14.0,105
16,Quinn,Harley,37.0,F,$NaN,quinn@email.com,555\444\3333,"Los Angeles, CA",Ph.D.,3.0,87
17,Rachel,Smith,39.0,f,"$49,600",rachel@email.com,NaN,"San Francisco, CA",Master,NaN,115
18,Steve,Jobs,27.0,F,$NaN,steve@email.com,999-888-7777,"New York, NY",Bachelor,8.0,90
19,Quinn,Harley,37.0,F,$NaN,quinn@email.com,555\444\3333,"Los Angeles, CA",Ph.D.,3.0,87
20,Tina,Tuna',31.0,M,"$68,900",tina@email.com,111-222-3333,"Chicago, IL",Ph.D.,5.0,100
21,Ursula,Contantupolis,23.0,F,"$58,200",ursula@email.com,123-456-7890,"Houston, TX",Bachelor,4.0,86
22,Victor,Hugh,36.0,M,"$71,500",victor@email.com,555-555-5555,"Boston, MA",Master,7.0,94
23,Wendy,Bar,55.0,F,74000,WENDY@email.com,444-333-2222,"Dallas, TX",Ph.D.,6.0,80
24,Xander,Slay,48.0,m,62000,xander@email.com,123-543-2345,"Phoenix, AZ",Bachelor,12.0,112
25,Yasmine,Rashid,26.0,F,"$57,300",yasmine@email.com,666777-8888,"New York, NY",Master,3.0,88
26,Zane,Malik,29.0,M,"$62,900",zane@email.com,777-888-9999,"Los Angeles, CA",Ph.D.,9.0,96
27,Sophia,Betty,34.0,M,71000,sophia@email.com,555-444-3333,"Chicago, IL",Bachelor,10.0,98
28,Noah,Baina,43.0,F,"$49,200",noah@email.com,Na,"Houston, TX",Master,11.0,109
29,Yamini,Manral,27.0,F,"$63,400",yamini@email.COM,999-888-7777,"Boston, MA",Ph.D.,7.0,93

Right off the bat, we see problems with this data set: it's messy and inconsistent. Let's make a list of the things we need to fix here:
1. Removing duplicate values
2. Removing special characters (Text Data Cleaning)
3. Formatting the column Phone for consistency
4. Handling Inconsistent Data - Capitalization
5. Formatting City column, splitting it in different columns
6. Dealing with missing values (data imputation)
7. Removing nulls
8. Dropping irrelevant data
9. Dealing with outliers 
10. Merging columns (Data transformation)

Overall, our goal is to clean this dataset so it is consistent and easily comprehensible.

One by one, let us try to achieve this goal. We begin with dropping duplicates.

## 1. Removing duplicate values

In [3]:
# removing duplicates
df = df.drop_duplicates()
df

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,City,Education,Experience (Years),Score
0,Alice,Joel..,25.0,F,"$55,000",alice@email.com,123-456-7890,"New York, NY",Bachelor,3.5,85
1,Bob,Pederna,30.0,M,"$63,200",bob@email.com,555-555-5555,"Los Angeles, CA",Master,7.0,92
2,Charlie,Puth,22.0,M,"$58,900",charlie@email.com,444-333-2222,"Chicago, IL",Ph.D.,NaN,78
3,David,\Guetta,NaN,M,"$75,000",david@email.com,123-543-2345,"Houston, TX",Bachelor,2.0,110
4,Eva,Longoria,29.0,F,"$62,400",eva@email.com,666-777-8888,"Miami, FL",NaN,5.0,89
5,Frank,Sinatra,35.0,m,67000,frank@email.com,777-888-9999,"San Francisco, CA",Master,10.0,97
6,Grace,..Brace,42.0,F,"$48,500",grace@email.com,555-444-3333,NaN,Ph.D.,8.0,93
7,Helen,Keller,50.0,F,$NaN,helen@email.com,NaN,"Boston, MA",Master,20.0,120
8,Ivy,Taylor,26.0,F,"$53,200",ivy@email.com,999|888|7777,"Dallas, TX",Bachelor,4.0,88
9,Jack,Jill,40.0,M,"$69,800",jack@email.com,111-222-3333,"Phoenix, AZ",Ph.D.,12.0,98
10,Kurt,Cobain,33.0,M,"$72,500",kurt@email.com,123-456-7890,"San Diego, CA",Bachelor,6.0,84
11,Linda,_Chocolate,28.0,f,$NaN,linda@email.com,555-555-5555,"Seattle, WA",Master,9.0,95
12,Mike,Piastry,45.0,M,62000,mike@EMAIL.com,444-333-2222,"Austin, TX",Ph.D.,15.0,75
13,Nancy__,Drew,24.0,F,"$55,800",nancy@email.com,123-543-2345,"Denver, CO",Bachelor,1.0,130
14,Oliver,Twist,32.0,M,72000,oliver@email.com,666-777-8888,"Nashville, TN",NaN,11.0,91
15,Paul,McCarthy,NaN,M,78000,paul@email.com,777-888-9999,Miami. FL,Master,14.0,105
16,Quinn,Harley,37.0,F,$NaN,quinn@email.com,555\444\3333,"Los Angeles, CA",Ph.D.,3.0,87
17,Rachel,Smith,39.0,f,"$49,600",rachel@email.com,NaN,"San Francisco, CA",Master,NaN,115
18,Steve,Jobs,27.0,F,$NaN,steve@email.com,999-888-7777,"New York, NY",Bachelor,8.0,90
20,Tina,Tuna',31.0,M,"$68,900",tina@email.com,111-222-3333,"Chicago, IL",Ph.D.,5.0,100
21,Ursula,Contantupolis,23.0,F,"$58,200",ursula@email.com,123-456-7890,"Houston, TX",Bachelor,4.0,86
22,Victor,Hugh,36.0,M,"$71,500",victor@email.com,555-555-5555,"Boston, MA",Master,7.0,94
23,Wendy,Bar,55.0,F,74000,WENDY@email.com,444-333-2222,"Dallas, TX",Ph.D.,6.0,80
24,Xander,Slay,48.0,m,62000,xander@email.com,123-543-2345,"Phoenix, AZ",Bachelor,12.0,112
25,Yasmine,Rashid,26.0,F,"$57,300",yasmine@email.com,666777-8888,"New York, NY",Master,3.0,88
26,Zane,Malik,29.0,M,"$62,900",zane@email.com,777-888-9999,"Los Angeles, CA",Ph.D.,9.0,96
27,Sophia,Betty,34.0,M,71000,sophia@email.com,555-444-3333,"Chicago, IL",Bachelor,10.0,98
28,Noah,Baina,43.0,F,"$49,200",noah@email.com,Na,"Houston, TX",Master,11.0,109
29,Yamini,Manral,27.0,F,"$63,400",yamini@email.COM,999-888-7777,"Boston, MA",Ph.D.,7.0,93

`drop_duplicates()` drops rows that have same values in each column. For our dataset, it drops index number 19.

## 2. Removing special characters

Now that is done, let's fix each column one by one. Starting with **Last Name**, we want to remove special characters from this column in order to clean it. To do so, we can use the `str.strip()` function.

> Note: `strip()` only strips away characters from outside of a string, meaning from either end of a string, left or right. If there had been issues in the middle of a last name, we would need to use other cleansing techniques like `replace()`.

In [4]:
df["Last Name"] = df["Last Name"].str.strip("123./'\_")
df["First Name"] = df["First Name"].str.strip("123./'\_")
df['Salary'] = df['Salary'].str.replace('$', '').str.replace(',', '').astype(float)
df

C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\2751425599.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Last Name"] = df["Last Name"].str.strip("123./'\_")
C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\2751425599.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["First Name"] = df["First Name"].str.strip("123./'\_")
C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\2751425599.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary'] = df['Salary'].str.replace('$', '').str.replace(',', '').astype(float)

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,City,Education,Experience (Years),Score
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,"New York, NY",Bachelor,3.5,85
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,"Los Angeles, CA",Master,7.0,92
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,"Chicago, IL",Ph.D.,NaN,78
3,David,Guetta,NaN,M,75000.0,david@email.com,123-543-2345,"Houston, TX",Bachelor,2.0,110
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,"Miami, FL",NaN,5.0,89
5,Frank,Sinatra,35.0,m,67000.0,frank@email.com,777-888-9999,"San Francisco, CA",Master,10.0,97
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,NaN,Ph.D.,8.0,93
7,Helen,Keller,50.0,F,NaN,helen@email.com,NaN,"Boston, MA",Master,20.0,120
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999|888|7777,"Dallas, TX",Bachelor,4.0,88
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,"Phoenix, AZ",Ph.D.,12.0,98
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,"San Diego, CA",Bachelor,6.0,84
11,Linda,Chocolate,28.0,f,NaN,linda@email.com,555-555-5555,"Seattle, WA",Master,9.0,95
12,Mike,Piastry,45.0,M,62000.0,mike@EMAIL.com,444-333-2222,"Austin, TX",Ph.D.,15.0,75
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,"Denver, CO",Bachelor,1.0,130
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,"Nashville, TN",NaN,11.0,91
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,777-888-9999,Miami. FL,Master,14.0,105
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,555\444\3333,"Los Angeles, CA",Ph.D.,3.0,87
17,Rachel,Smith,39.0,f,49600.0,rachel@email.com,NaN,"San Francisco, CA",Master,NaN,115
18,Steve,Jobs,27.0,F,NaN,steve@email.com,999-888-7777,"New York, NY",Bachelor,8.0,90
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,"Chicago, IL",Ph.D.,5.0,100
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,"Houston, TX",Bachelor,4.0,86
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,"Boston, MA",Master,7.0,94
23,Wendy,Bar,55.0,F,74000.0,WENDY@email.com,444-333-2222,"Dallas, TX",Ph.D.,6.0,80
24,Xander,Slay,48.0,m,62000.0,xander@email.com,123-543-2345,"Phoenix, AZ",Bachelor,12.0,112
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666777-8888,"New York, NY",Master,3.0,88
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,"Los Angeles, CA",Ph.D.,9.0,96
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,"Chicago, IL",Bachelor,10.0,98
28,Noah,Baina,43.0,F,49200.0,noah@email.com,Na,"Houston, TX",Master,11.0,109
29,Yamini,Manral,27.0,F,63400.0,yamini@email.COM,999-888-7777,"Boston, MA",Ph.D.,7.0,93

## 3. Reformatting

Much cleaner! Let's move on to the **Phone Number** column and identify the issues. Firstly, we need to remove any special characters. Secondly, we need the numbers in a particular format, i.e _123-456-7890_. 

Removing all non-alphanumeric characters from the column **Phone Number** using `str.replace()`:

In [5]:
# removing special characters from phone column
df["Phone"] = df["Phone"].str.replace(r'\D', '', regex=True)
df

C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\4052428258.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone"] = df["Phone"].str.replace(r'\D', '', regex=True)

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,City,Education,Experience (Years),Score
0,Alice,Joel,25.0,F,55000.0,alice@email.com,1234567890,"New York, NY",Bachelor,3.5,85
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,5555555555,"Los Angeles, CA",Master,7.0,92
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,4443332222,"Chicago, IL",Ph.D.,NaN,78
3,David,Guetta,NaN,M,75000.0,david@email.com,1235432345,"Houston, TX",Bachelor,2.0,110
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,6667778888,"Miami, FL",NaN,5.0,89
5,Frank,Sinatra,35.0,m,67000.0,frank@email.com,7778889999,"San Francisco, CA",Master,10.0,97
6,Grace,Brace,42.0,F,48500.0,grace@email.com,5554443333,NaN,Ph.D.,8.0,93
7,Helen,Keller,50.0,F,NaN,helen@email.com,NaN,"Boston, MA",Master,20.0,120
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,9998887777,"Dallas, TX",Bachelor,4.0,88
9,Jack,Jill,40.0,M,69800.0,jack@email.com,1112223333,"Phoenix, AZ",Ph.D.,12.0,98
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,1234567890,"San Diego, CA",Bachelor,6.0,84
11,Linda,Chocolate,28.0,f,NaN,linda@email.com,5555555555,"Seattle, WA",Master,9.0,95
12,Mike,Piastry,45.0,M,62000.0,mike@EMAIL.com,4443332222,"Austin, TX",Ph.D.,15.0,75
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,1235432345,"Denver, CO",Bachelor,1.0,130
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,6667778888,"Nashville, TN",NaN,11.0,91
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,7778889999,Miami. FL,Master,14.0,105
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,5554443333,"Los Angeles, CA",Ph.D.,3.0,87
17,Rachel,Smith,39.0,f,49600.0,rachel@email.com,NaN,"San Francisco, CA",Master,NaN,115
18,Steve,Jobs,27.0,F,NaN,steve@email.com,9998887777,"New York, NY",Bachelor,8.0,90
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,1112223333,"Chicago, IL",Ph.D.,5.0,100
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,1234567890,"Houston, TX",Bachelor,4.0,86
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,5555555555,"Boston, MA",Master,7.0,94
23,Wendy,Bar,55.0,F,74000.0,WENDY@email.com,4443332222,"Dallas, TX",Ph.D.,6.0,80
24,Xander,Slay,48.0,m,62000.0,xander@email.com,1235432345,"Phoenix, AZ",Bachelor,12.0,112
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,6667778888,"New York, NY",Master,3.0,88
26,Zane,Malik,29.0,M,62900.0,zane@email.com,7778889999,"Los Angeles, CA",Ph.D.,9.0,96
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,5554443333,"Chicago, IL",Bachelor,10.0,98
28,Noah,Baina,43.0,F,49200.0,noah@email.com,,"Houston, TX",Master,11.0,109
29,Yamini,Manral,27.0,F,63400.0,yamini@email.COM,9998887777,"Boston, MA",Ph.D.,7.0,93

We are still left with NaNs and empty cells which we will deal with later. 

Realise that **Phone** does not have string values, if we directly try to manipulate it, we get a _TypeError: 'float' object is not subscriptable_ error so we cannot directly manipulate it, hence, we will convert each cell value to string using a `lambda` function:

In [6]:
# converting phone numbe col to string
df["Phone"] = df["Phone"].apply(lambda x: str(x))
df

C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\1802972747.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone"] = df["Phone"].apply(lambda x: str(x))

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,City,Education,Experience (Years),Score
0,Alice,Joel,25.0,F,55000.0,alice@email.com,1234567890,"New York, NY",Bachelor,3.5,85
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,5555555555,"Los Angeles, CA",Master,7.0,92
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,4443332222,"Chicago, IL",Ph.D.,NaN,78
3,David,Guetta,NaN,M,75000.0,david@email.com,1235432345,"Houston, TX",Bachelor,2.0,110
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,6667778888,"Miami, FL",NaN,5.0,89
5,Frank,Sinatra,35.0,m,67000.0,frank@email.com,7778889999,"San Francisco, CA",Master,10.0,97
6,Grace,Brace,42.0,F,48500.0,grace@email.com,5554443333,NaN,Ph.D.,8.0,93
7,Helen,Keller,50.0,F,NaN,helen@email.com,nan,"Boston, MA",Master,20.0,120
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,9998887777,"Dallas, TX",Bachelor,4.0,88
9,Jack,Jill,40.0,M,69800.0,jack@email.com,1112223333,"Phoenix, AZ",Ph.D.,12.0,98
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,1234567890,"San Diego, CA",Bachelor,6.0,84
11,Linda,Chocolate,28.0,f,NaN,linda@email.com,5555555555,"Seattle, WA",Master,9.0,95
12,Mike,Piastry,45.0,M,62000.0,mike@EMAIL.com,4443332222,"Austin, TX",Ph.D.,15.0,75
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,1235432345,"Denver, CO",Bachelor,1.0,130
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,6667778888,"Nashville, TN",NaN,11.0,91
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,7778889999,Miami. FL,Master,14.0,105
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,5554443333,"Los Angeles, CA",Ph.D.,3.0,87
17,Rachel,Smith,39.0,f,49600.0,rachel@email.com,nan,"San Francisco, CA",Master,NaN,115
18,Steve,Jobs,27.0,F,NaN,steve@email.com,9998887777,"New York, NY",Bachelor,8.0,90
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,1112223333,"Chicago, IL",Ph.D.,5.0,100
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,1234567890,"Houston, TX",Bachelor,4.0,86
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,5555555555,"Boston, MA",Master,7.0,94
23,Wendy,Bar,55.0,F,74000.0,WENDY@email.com,4443332222,"Dallas, TX",Ph.D.,6.0,80
24,Xander,Slay,48.0,m,62000.0,xander@email.com,1235432345,"Phoenix, AZ",Bachelor,12.0,112
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,6667778888,"New York, NY",Master,3.0,88
26,Zane,Malik,29.0,M,62900.0,zane@email.com,7778889999,"Los Angeles, CA",Ph.D.,9.0,96
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,5554443333,"Chicago, IL",Bachelor,10.0,98
28,Noah,Baina,43.0,F,49200.0,noah@email.com,,"Houston, TX",Master,11.0,109
29,Yamini,Manral,27.0,F,63400.0,yamini@email.COM,9998887777,"Boston, MA",Ph.D.,7.0,93

Now we want to change each value to the format _123-456-7890_. We can do it by defining a lambda function which will add a dash(-) in the desired places.

In [7]:
# manipulating string to add - between numbers
df["Phone"] = df["Phone"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])
df

C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\4192946857.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone"] = df["Phone"].apply(lambda x: x[0:3] + '-' + x[3:6] + '-' + x[6:10])

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,City,Education,Experience (Years),Score
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,"New York, NY",Bachelor,3.5,85
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,"Los Angeles, CA",Master,7.0,92
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,"Chicago, IL",Ph.D.,NaN,78
3,David,Guetta,NaN,M,75000.0,david@email.com,123-543-2345,"Houston, TX",Bachelor,2.0,110
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,"Miami, FL",NaN,5.0,89
5,Frank,Sinatra,35.0,m,67000.0,frank@email.com,777-888-9999,"San Francisco, CA",Master,10.0,97
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,NaN,Ph.D.,8.0,93
7,Helen,Keller,50.0,F,NaN,helen@email.com,nan--,"Boston, MA",Master,20.0,120
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,"Dallas, TX",Bachelor,4.0,88
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,"Phoenix, AZ",Ph.D.,12.0,98
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,"San Diego, CA",Bachelor,6.0,84
11,Linda,Chocolate,28.0,f,NaN,linda@email.com,555-555-5555,"Seattle, WA",Master,9.0,95
12,Mike,Piastry,45.0,M,62000.0,mike@EMAIL.com,444-333-2222,"Austin, TX",Ph.D.,15.0,75
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,"Denver, CO",Bachelor,1.0,130
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,"Nashville, TN",NaN,11.0,91
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,777-888-9999,Miami. FL,Master,14.0,105
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,555-444-3333,"Los Angeles, CA",Ph.D.,3.0,87
17,Rachel,Smith,39.0,f,49600.0,rachel@email.com,nan--,"San Francisco, CA",Master,NaN,115
18,Steve,Jobs,27.0,F,NaN,steve@email.com,999-888-7777,"New York, NY",Bachelor,8.0,90
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,"Chicago, IL",Ph.D.,5.0,100
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,"Houston, TX",Bachelor,4.0,86
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,"Boston, MA",Master,7.0,94
23,Wendy,Bar,55.0,F,74000.0,WENDY@email.com,444-333-2222,"Dallas, TX",Ph.D.,6.0,80
24,Xander,Slay,48.0,m,62000.0,xander@email.com,123-543-2345,"Phoenix, AZ",Bachelor,12.0,112
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,"New York, NY",Master,3.0,88
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,"Los Angeles, CA",Ph.D.,9.0,96
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,"Chicago, IL",Bachelor,10.0,98
28,Noah,Baina,43.0,F,49200.0,noah@email.com,--,"Houston, TX",Master,11.0,109
29,Yamini,Manral,27.0,F,63400.0,yamini@email.COM,999-888-7777,"Boston, MA",Ph.D.,7.0,93

This gets the job done, partially. Let's try to remove nan-- and na-- and -- by using `replace()` to finish with cleaning this column:

In [8]:
df["Phone"] = df["Phone"].str.replace('nan--', '')
df["Phone"] = df["Phone"].str.replace('na--', '')
df["Phone"] = df["Phone"].str.replace('--', '')
df

C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\2361135935.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone"] = df["Phone"].str.replace('nan--', '')
C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\2361135935.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone"] = df["Phone"].str.replace('na--', '')
C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\2361135935.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Phone"] = df["Phone"].str.replace('--', '')

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,City,Education,Experience (Years),Score
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,"New York, NY",Bachelor,3.5,85
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,"Los Angeles, CA",Master,7.0,92
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,"Chicago, IL",Ph.D.,NaN,78
3,David,Guetta,NaN,M,75000.0,david@email.com,123-543-2345,"Houston, TX",Bachelor,2.0,110
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,"Miami, FL",NaN,5.0,89
5,Frank,Sinatra,35.0,m,67000.0,frank@email.com,777-888-9999,"San Francisco, CA",Master,10.0,97
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,NaN,Ph.D.,8.0,93
7,Helen,Keller,50.0,F,NaN,helen@email.com,,"Boston, MA",Master,20.0,120
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,"Dallas, TX",Bachelor,4.0,88
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,"Phoenix, AZ",Ph.D.,12.0,98
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,"San Diego, CA",Bachelor,6.0,84
11,Linda,Chocolate,28.0,f,NaN,linda@email.com,555-555-5555,"Seattle, WA",Master,9.0,95
12,Mike,Piastry,45.0,M,62000.0,mike@EMAIL.com,444-333-2222,"Austin, TX",Ph.D.,15.0,75
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,"Denver, CO",Bachelor,1.0,130
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,"Nashville, TN",NaN,11.0,91
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,777-888-9999,Miami. FL,Master,14.0,105
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,555-444-3333,"Los Angeles, CA",Ph.D.,3.0,87
17,Rachel,Smith,39.0,f,49600.0,rachel@email.com,,"San Francisco, CA",Master,NaN,115
18,Steve,Jobs,27.0,F,NaN,steve@email.com,999-888-7777,"New York, NY",Bachelor,8.0,90
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,"Chicago, IL",Ph.D.,5.0,100
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,"Houston, TX",Bachelor,4.0,86
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,"Boston, MA",Master,7.0,94
23,Wendy,Bar,55.0,F,74000.0,WENDY@email.com,444-333-2222,"Dallas, TX",Ph.D.,6.0,80
24,Xander,Slay,48.0,m,62000.0,xander@email.com,123-543-2345,"Phoenix, AZ",Bachelor,12.0,112
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,"New York, NY",Master,3.0,88
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,"Los Angeles, CA",Ph.D.,9.0,96
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,"Chicago, IL",Bachelor,10.0,98
28,Noah,Baina,43.0,F,49200.0,noah@email.com,,"Houston, TX",Master,11.0,109
29,Yamini,Manral,27.0,F,63400.0,yamini@email.COM,999-888-7777,"Boston, MA",Ph.D.,7.0,93

## 4. Splitting columns

Much better. Now we can move on to column **City**. We need to split it into 2 columns: **City and State**. We can do this using the `str.split()` function.

In [9]:
# splitting cells

df[['New City', 'State']] = df['City'].str.split(r'[,.]', expand=True)
df

C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\1673347347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['New City', 'State']] = df['City'].str.split(r'[,.]', expand=True)
C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\1673347347.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[['New City', 'State']] = df['City'].str.split(r'[,.]', expand=True)

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,City,Education,Experience (Years),Score,New City,State
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,"New York, NY",Bachelor,3.5,85,New York,NY
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,"Los Angeles, CA",Master,7.0,92,Los Angeles,CA
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,"Chicago, IL",Ph.D.,NaN,78,Chicago,IL
3,David,Guetta,NaN,M,75000.0,david@email.com,123-543-2345,"Houston, TX",Bachelor,2.0,110,Houston,TX
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,"Miami, FL",NaN,5.0,89,Miami,FL
5,Frank,Sinatra,35.0,m,67000.0,frank@email.com,777-888-9999,"San Francisco, CA",Master,10.0,97,San Francisco,CA
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,NaN,Ph.D.,8.0,93,NaN,NaN
7,Helen,Keller,50.0,F,NaN,helen@email.com,,"Boston, MA",Master,20.0,120,Boston,MA
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,"Dallas, TX",Bachelor,4.0,88,Dallas,TX
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,"Phoenix, AZ",Ph.D.,12.0,98,Phoenix,AZ
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,"San Diego, CA",Bachelor,6.0,84,San Diego,CA
11,Linda,Chocolate,28.0,f,NaN,linda@email.com,555-555-5555,"Seattle, WA",Master,9.0,95,Seattle,WA
12,Mike,Piastry,45.0,M,62000.0,mike@EMAIL.com,444-333-2222,"Austin, TX",Ph.D.,15.0,75,Austin,TX
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,"Denver, CO",Bachelor,1.0,130,Denver,CO
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,"Nashville, TN",NaN,11.0,91,Nashville,TN
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,777-888-9999,Miami. FL,Master,14.0,105,Miami,FL
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,555-444-3333,"Los Angeles, CA",Ph.D.,3.0,87,Los Angeles,CA
17,Rachel,Smith,39.0,f,49600.0,rachel@email.com,,"San Francisco, CA",Master,NaN,115,San Francisco,CA
18,Steve,Jobs,27.0,F,NaN,steve@email.com,999-888-7777,"New York, NY",Bachelor,8.0,90,New York,NY
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,"Chicago, IL",Ph.D.,5.0,100,Chicago,IL
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,"Houston, TX",Bachelor,4.0,86,Houston,TX
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,"Boston, MA",Master,7.0,94,Boston,MA
23,Wendy,Bar,55.0,F,74000.0,WENDY@email.com,444-333-2222,"Dallas, TX",Ph.D.,6.0,80,Dallas,TX
24,Xander,Slay,48.0,m,62000.0,xander@email.com,123-543-2345,"Phoenix, AZ",Bachelor,12.0,112,Phoenix,AZ
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,"New York, NY",Master,3.0,88,New York,NY
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,"Los Angeles, CA",Ph.D.,9.0,96,Los Angeles,CA
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,"Chicago, IL",Bachelor,10.0,98,Chicago,IL
28,Noah,Baina,43.0,F,49200.0,noah@email.com,,"Houston, TX",Master,11.0,109,Houston,TX
29,Yamini,Manral,27.0,F,63400.0,yamini@email.COM,999-888-7777,"Boston, MA",Ph.D.,7.0,93,Boston,MA

## 5. Dropping irrelevant columns

We can drop the column **City** since its contents are now split into 2 separate columns, keeping it would be redundant.

In [10]:
df = df.drop(columns = "City")
df

,First Name,Last Name,Age,Gender,Salary,_Email,Phone,Education,Experience (Years),Score,New City,State
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,NaN,78,Chicago,IL
3,David,Guetta,NaN,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,110,Houston,TX
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,NaN,5.0,89,Miami,FL
5,Frank,Sinatra,35.0,m,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,NaN,NaN
7,Helen,Keller,50.0,F,NaN,helen@email.com,,Master,20.0,120,Boston,MA
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda,Chocolate,28.0,f,NaN,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike,Piastry,45.0,M,62000.0,mike@EMAIL.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,130,Denver,CO
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,NaN,11.0,91,Nashville,TN
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,777-888-9999,Master,14.0,105,Miami,FL
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel,Smith,39.0,f,49600.0,rachel@email.com,,Master,NaN,115,San Francisco,CA
18,Steve,Jobs,27.0,F,NaN,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
23,Wendy,Bar,55.0,F,74000.0,WENDY@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
24,Xander,Slay,48.0,m,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,112,Phoenix,AZ
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
28,Noah,Baina,43.0,F,49200.0,noah@email.com,,Master,11.0,109,Houston,TX
29,Yamini,Manral,27.0,F,63400.0,yamini@email.COM,999-888-7777,Ph.D.,7.0,93,Boston,MA

<!-- Now we move on to columns **Paying Customer** and **Do_Not_Contact**. For the sake of consistency, we will keep all the Yes's as Y and No's as N and remove N/a's and replace NaNs with empty spaces and go from there: -->

## 6. Renaming columns

We can also rename column names by using `rename()` to maintain consistency:

In [11]:
# renaming

df.rename(columns={'New City': 'City', '_Email':'Email'}, inplace=True)
df

,First Name,Last Name,Age,Gender,Salary,Email,Phone,Education,Experience (Years),Score,City,State
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,NaN,78,Chicago,IL
3,David,Guetta,NaN,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,110,Houston,TX
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,NaN,5.0,89,Miami,FL
5,Frank,Sinatra,35.0,m,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,NaN,NaN
7,Helen,Keller,50.0,F,NaN,helen@email.com,,Master,20.0,120,Boston,MA
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda,Chocolate,28.0,f,NaN,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike,Piastry,45.0,M,62000.0,mike@EMAIL.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,130,Denver,CO
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,NaN,11.0,91,Nashville,TN
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,777-888-9999,Master,14.0,105,Miami,FL
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel,Smith,39.0,f,49600.0,rachel@email.com,,Master,NaN,115,San Francisco,CA
18,Steve,Jobs,27.0,F,NaN,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
23,Wendy,Bar,55.0,F,74000.0,WENDY@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
24,Xander,Slay,48.0,m,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,112,Phoenix,AZ
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
28,Noah,Baina,43.0,F,49200.0,noah@email.com,,Master,11.0,109,Houston,TX
29,Yamini,Manral,27.0,F,63400.0,yamini@email.COM,999-888-7777,Ph.D.,7.0,93,Boston,MA

## 7. Handling Inconsistent Data - Capitalization

In columns Gender and Email we see some inconsistency in data with regards to their cases. We can fix that as follows:

In [12]:
# Consistent formatting, uppercase/lowercase

df['Gender'].replace({'m': 'M', 'f': 'F', 'N/a': ''}, inplace=True)
df['Email'] = df['Email'].str.lower()

df

,First Name,Last Name,Age,Gender,Salary,Email,Phone,Education,Experience (Years),Score,City,State
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,NaN,78,Chicago,IL
3,David,Guetta,NaN,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,110,Houston,TX
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,NaN,5.0,89,Miami,FL
5,Frank,Sinatra,35.0,M,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,NaN,NaN
7,Helen,Keller,50.0,F,NaN,helen@email.com,,Master,20.0,120,Boston,MA
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda,Chocolate,28.0,F,NaN,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike,Piastry,45.0,M,62000.0,mike@email.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,130,Denver,CO
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,NaN,11.0,91,Nashville,TN
15,Paul,McCarthy,NaN,M,78000.0,paul@email.com,777-888-9999,Master,14.0,105,Miami,FL
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel,Smith,39.0,F,49600.0,rachel@email.com,,Master,NaN,115,San Francisco,CA
18,Steve,Jobs,27.0,F,NaN,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
23,Wendy,Bar,55.0,F,74000.0,wendy@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
24,Xander,Slay,48.0,M,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,112,Phoenix,AZ
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
28,Noah,Baina,43.0,F,49200.0,noah@email.com,,Master,11.0,109,Houston,TX
29,Yamini,Manral,27.0,F,63400.0,yamini@email.com,999-888-7777,Ph.D.,7.0,93,Boston,MA

## 8. Removing nulls

Throughout the dataset, we have empty spaces or nulls as values. We can deal with such data as follows:

In [13]:
# replacing empty spaces with NaNs

df['Phone'] = df['Phone'].replace(r'^\s*$', np.nan, regex=True)
df['Experience (Years)'].replace({'NaN': np.nan}, inplace=True)
df['City'].replace({'NaN': np.nan}, inplace=True)
df['State'].replace({'NaN': np.nan}, inplace=True)

# replacing NaNs with Unknowns

df.fillna('Unknown', inplace=True)
df

C:\Users\Yamini Manral\AppData\Local\Temp\ipykernel_19708\1078440398.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('Unknown', inplace=True)

,First Name,Last Name,Age,Gender,Salary,Email,Phone,Education,Experience (Years),Score,City,State
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,Unknown,78,Chicago,IL
3,David,Guetta,Unknown,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,110,Houston,TX
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,Unknown,5.0,89,Miami,FL
5,Frank,Sinatra,35.0,M,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,Unknown,Unknown
7,Helen,Keller,50.0,F,Unknown,helen@email.com,Unknown,Master,20.0,120,Boston,MA
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda,Chocolate,28.0,F,Unknown,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike,Piastry,45.0,M,62000.0,mike@email.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,130,Denver,CO
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,Unknown,11.0,91,Nashville,TN
15,Paul,McCarthy,Unknown,M,78000.0,paul@email.com,777-888-9999,Master,14.0,105,Miami,FL
16,Quinn,Harley,37.0,F,Unknown,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel,Smith,39.0,F,49600.0,rachel@email.com,Unknown,Master,Unknown,115,San Francisco,CA
18,Steve,Jobs,27.0,F,Unknown,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
23,Wendy,Bar,55.0,F,74000.0,wendy@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
24,Xander,Slay,48.0,M,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,112,Phoenix,AZ
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
28,Noah,Baina,43.0,F,49200.0,noah@email.com,Unknown,Master,11.0,109,Houston,TX
29,Yamini,Manral,27.0,F,63400.0,yamini@email.com,999-888-7777,Ph.D.,7.0,93,Boston,MA

##   9. Dealing with outliers

The values in the score column looks a bit off. Some of them exceed 100. Those are outliers. We can set a threshold that 100 is the maximum score an employee can get, and if the score is more than that, we set the value as 100.

In [14]:
# outlier detection and handling

score_threshold = 100
df.loc[df['Score'] > score_threshold, 'Score'] = score_threshold
df

,First Name,Last Name,Age,Gender,Salary,Email,Phone,Education,Experience (Years),Score,City,State
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,Unknown,78,Chicago,IL
3,David,Guetta,Unknown,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,100,Houston,TX
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,Unknown,5.0,89,Miami,FL
5,Frank,Sinatra,35.0,M,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,Unknown,Unknown
7,Helen,Keller,50.0,F,Unknown,helen@email.com,Unknown,Master,20.0,100,Boston,MA
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda,Chocolate,28.0,F,Unknown,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike,Piastry,45.0,M,62000.0,mike@email.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,100,Denver,CO
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,Unknown,11.0,91,Nashville,TN
15,Paul,McCarthy,Unknown,M,78000.0,paul@email.com,777-888-9999,Master,14.0,100,Miami,FL
16,Quinn,Harley,37.0,F,Unknown,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel,Smith,39.0,F,49600.0,rachel@email.com,Unknown,Master,Unknown,100,San Francisco,CA
18,Steve,Jobs,27.0,F,Unknown,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
23,Wendy,Bar,55.0,F,74000.0,wendy@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
24,Xander,Slay,48.0,M,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,100,Phoenix,AZ
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
28,Noah,Baina,43.0,F,49200.0,noah@email.com,Unknown,Master,11.0,100,Houston,TX
29,Yamini,Manral,27.0,F,63400.0,yamini@email.com,999-888-7777,Ph.D.,7.0,93,Boston,MA

## 10. Dealing with missing data

With general domain knowledge, we can safely assume that out of all the columns with 'Unknown' as values, Salary is the one where we can impute data. But there is a problem, we just replaced all NaN's with 'Unknown's. Let's fix that:

In [15]:
df['Salary'].replace({'Unknown': np.nan}, inplace=True)
df

,First Name,Last Name,Age,Gender,Salary,Email,Phone,Education,Experience (Years),Score,City,State
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,Unknown,78,Chicago,IL
3,David,Guetta,Unknown,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,100,Houston,TX
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,Unknown,5.0,89,Miami,FL
5,Frank,Sinatra,35.0,M,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,Unknown,Unknown
7,Helen,Keller,50.0,F,NaN,helen@email.com,Unknown,Master,20.0,100,Boston,MA
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda,Chocolate,28.0,F,NaN,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike,Piastry,45.0,M,62000.0,mike@email.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,100,Denver,CO
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,Unknown,11.0,91,Nashville,TN
15,Paul,McCarthy,Unknown,M,78000.0,paul@email.com,777-888-9999,Master,14.0,100,Miami,FL
16,Quinn,Harley,37.0,F,NaN,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel,Smith,39.0,F,49600.0,rachel@email.com,Unknown,Master,Unknown,100,San Francisco,CA
18,Steve,Jobs,27.0,F,NaN,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
23,Wendy,Bar,55.0,F,74000.0,wendy@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
24,Xander,Slay,48.0,M,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,100,Phoenix,AZ
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
28,Noah,Baina,43.0,F,49200.0,noah@email.com,Unknown,Master,11.0,100,Houston,TX
29,Yamini,Manral,27.0,F,63400.0,yamini@email.com,999-888-7777,Ph.D.,7.0,93,Boston,MA

Now we can compute mean for the column salary and put that for cells that have NaN's in it, as seen below:

In [16]:
# filling missing data  

df['Salary'].fillna(df['Salary'].mean(), inplace=True)
df

,First Name,Last Name,Age,Gender,Salary,Email,Phone,Education,Experience (Years),Score,City,State
0,Alice,Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob,Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie,Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,Unknown,78,Chicago,IL
3,David,Guetta,Unknown,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,100,Houston,TX
4,Eva,Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,Unknown,5.0,89,Miami,FL
5,Frank,Sinatra,35.0,M,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace,Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,Unknown,Unknown
7,Helen,Keller,50.0,F,63252.0,helen@email.com,Unknown,Master,20.0,100,Boston,MA
8,Ivy,Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack,Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt,Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda,Chocolate,28.0,F,63252.0,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike,Piastry,45.0,M,62000.0,mike@email.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy,Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,100,Denver,CO
14,Oliver,Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,Unknown,11.0,91,Nashville,TN
15,Paul,McCarthy,Unknown,M,78000.0,paul@email.com,777-888-9999,Master,14.0,100,Miami,FL
16,Quinn,Harley,37.0,F,63252.0,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel,Smith,39.0,F,49600.0,rachel@email.com,Unknown,Master,Unknown,100,San Francisco,CA
18,Steve,Jobs,27.0,F,63252.0,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
20,Tina,Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
21,Ursula,Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
22,Victor,Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
23,Wendy,Bar,55.0,F,74000.0,wendy@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
24,Xander,Slay,48.0,M,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,100,Phoenix,AZ
25,Yasmine,Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
26,Zane,Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
27,Sophia,Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
28,Noah,Baina,43.0,F,49200.0,noah@email.com,Unknown,Master,11.0,100,Houston,TX
29,Yamini,Manral,27.0,F,63400.0,yamini@email.com,999-888-7777,Ph.D.,7.0,93,Boston,MA

## 11. Data Transformation - Merging columns

Now that our data looks clean, we can merge columns into one (First Name + Last Name = Full Name) and reduce number of columns:

In [17]:
df['Full Name'] = df['First Name'] + ' ' + df['Last Name']

# Drop the original 'First_Name' and 'Last_Name' columns
df.drop(['First Name', 'Last Name'], axis=1, inplace=True)

# Reorder columns with 'Full_Name' in the first position
df = df[['Full Name'] + [col for col in df if col != 'Full Name']]

# Display the DataFrame
df

,Full Name,Age,Gender,Salary,Email,Phone,Education,Experience (Years),Score,City,State
0,Alice Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,Unknown,78,Chicago,IL
3,David Guetta,Unknown,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,100,Houston,TX
4,Eva Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,Unknown,5.0,89,Miami,FL
5,Frank Sinatra,35.0,M,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,Unknown,Unknown
7,Helen Keller,50.0,F,63252.0,helen@email.com,Unknown,Master,20.0,100,Boston,MA
8,Ivy Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda Chocolate,28.0,F,63252.0,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike Piastry,45.0,M,62000.0,mike@email.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,100,Denver,CO
14,Oliver Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,Unknown,11.0,91,Nashville,TN
15,Paul McCarthy,Unknown,M,78000.0,paul@email.com,777-888-9999,Master,14.0,100,Miami,FL
16,Quinn Harley,37.0,F,63252.0,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel Smith,39.0,F,49600.0,rachel@email.com,Unknown,Master,Unknown,100,San Francisco,CA
18,Steve Jobs,27.0,F,63252.0,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
20,Tina Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
21,Ursula Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
22,Victor Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
23,Wendy Bar,55.0,F,74000.0,wendy@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
24,Xander Slay,48.0,M,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,100,Phoenix,AZ
25,Yasmine Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
26,Zane Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
27,Sophia Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
28,Noah Baina,43.0,F,49200.0,noah@email.com,Unknown,Master,11.0,100,Houston,TX
29,Yamini Manral,27.0,F,63400.0,yamini@email.com,999-888-7777,Ph.D.,7.0,93,Boston,MA

At last, resetting index to get true count of rows.

In [18]:
df = df.reset_index(drop=True)
df

,Full Name,Age,Gender,Salary,Email,Phone,Education,Experience (Years),Score,City,State
0,Alice Joel,25.0,F,55000.0,alice@email.com,123-456-7890,Bachelor,3.5,85,New York,NY
1,Bob Pederna,30.0,M,63200.0,bob@email.com,555-555-5555,Master,7.0,92,Los Angeles,CA
2,Charlie Puth,22.0,M,58900.0,charlie@email.com,444-333-2222,Ph.D.,Unknown,78,Chicago,IL
3,David Guetta,Unknown,M,75000.0,david@email.com,123-543-2345,Bachelor,2.0,100,Houston,TX
4,Eva Longoria,29.0,F,62400.0,eva@email.com,666-777-8888,Unknown,5.0,89,Miami,FL
5,Frank Sinatra,35.0,M,67000.0,frank@email.com,777-888-9999,Master,10.0,97,San Francisco,CA
6,Grace Brace,42.0,F,48500.0,grace@email.com,555-444-3333,Ph.D.,8.0,93,Unknown,Unknown
7,Helen Keller,50.0,F,63252.0,helen@email.com,Unknown,Master,20.0,100,Boston,MA
8,Ivy Taylor,26.0,F,53200.0,ivy@email.com,999-888-7777,Bachelor,4.0,88,Dallas,TX
9,Jack Jill,40.0,M,69800.0,jack@email.com,111-222-3333,Ph.D.,12.0,98,Phoenix,AZ
10,Kurt Cobain,33.0,M,72500.0,kurt@email.com,123-456-7890,Bachelor,6.0,84,San Diego,CA
11,Linda Chocolate,28.0,F,63252.0,linda@email.com,555-555-5555,Master,9.0,95,Seattle,WA
12,Mike Piastry,45.0,M,62000.0,mike@email.com,444-333-2222,Ph.D.,15.0,75,Austin,TX
13,Nancy Drew,24.0,F,55800.0,nancy@email.com,123-543-2345,Bachelor,1.0,100,Denver,CO
14,Oliver Twist,32.0,M,72000.0,oliver@email.com,666-777-8888,Unknown,11.0,91,Nashville,TN
15,Paul McCarthy,Unknown,M,78000.0,paul@email.com,777-888-9999,Master,14.0,100,Miami,FL
16,Quinn Harley,37.0,F,63252.0,quinn@email.com,555-444-3333,Ph.D.,3.0,87,Los Angeles,CA
17,Rachel Smith,39.0,F,49600.0,rachel@email.com,Unknown,Master,Unknown,100,San Francisco,CA
18,Steve Jobs,27.0,F,63252.0,steve@email.com,999-888-7777,Bachelor,8.0,90,New York,NY
19,Tina Tuna,31.0,M,68900.0,tina@email.com,111-222-3333,Ph.D.,5.0,100,Chicago,IL
20,Ursula Contantupolis,23.0,F,58200.0,ursula@email.com,123-456-7890,Bachelor,4.0,86,Houston,TX
21,Victor Hugh,36.0,M,71500.0,victor@email.com,555-555-5555,Master,7.0,94,Boston,MA
22,Wendy Bar,55.0,F,74000.0,wendy@email.com,444-333-2222,Ph.D.,6.0,80,Dallas,TX
23,Xander Slay,48.0,M,62000.0,xander@email.com,123-543-2345,Bachelor,12.0,100,Phoenix,AZ
24,Yasmine Rashid,26.0,F,57300.0,yasmine@email.com,666-777-8888,Master,3.0,88,New York,NY
25,Zane Malik,29.0,M,62900.0,zane@email.com,777-888-9999,Ph.D.,9.0,96,Los Angeles,CA
26,Sophia Betty,34.0,M,71000.0,sophia@email.com,555-444-3333,Bachelor,10.0,98,Chicago,IL
27,Noah Baina,43.0,F,49200.0,noah@email.com,Unknown,Master,11.0,100,Houston,TX
28,Yamini Manral,27.0,F,63400.0,yamini@email.com,999-888-7777,Ph.D.,7.0,93,Boston,MA

## Conclusion

In this exploration of data cleaning and manipulation in Python, we've covered a range of essential techniques and practices for preparing data for analysis or machine learning. Starting from loading and cleaning datasets, we learned how to handle missing values, deal with duplicates, and detect and treat outliers. We also explored techniques for data transformation and text data cleaning. 
We delved into various aspects of data cleaning, such as standardizing dat anda, handling inconsistent entri.s.

Throughout this journey, we highlighted the multidisciplinary nature of data cleaning, which draws from fields like statistics, programming, and domain expertise. We also emphasized the creative problem-solving aspect of data cleaning, as it often requires innovative solutions tailored to the specific characteristics of the data.

Lastly, we learned how to merge columns, reorder columns, and perform other DataFrame manipulations, all of which are essential skills for data preparation.

In summary, data cleaning is not just a preliminary step but an engaging exploration of data's intricacies. It's where the foundation for meaningful insights and machine learning models is laid, making it a vital and fascinating aspect of the data science journey.

## References:

1. [Pythonic Data Cleaning With pandas and NumPy](https://realpython.com/python-data-cleaning-numpy-pandas/)
2. [How to Clean Your Data in Python](https://towardsdatascience.com/how-to-clean-your-data-in-python-8f178638b98d)
3. [Pandas - Cleaning Data](https://www.w3schools.com/python/pandas/pandas_cleaning.asp)
4. [Data Cleaning in Pandas | Python Pandas Tutorials](https://www.youtube.com/watch?v=bDhvCp3_lYw)